[submodule "third-party/FFmpeg/AMF"]
	path = third-party/FFmpeg/AMF
	url = https://github.com/GPUOpen-LibrariesAndSDKs/AMF.git
	branch = master
    shallow = true
[submodule "third-party/FFmpeg/x264"]
	path = third-party/FFmpeg/x264
	url = https://github.com/LizardByte-infrastructure/x264.git
	branch = master
    shallow = true
[submodule "third-party/FFmpeg/x265_git"]
	path = third-party/FFmpeg/x265_git
	url = https://github.com/LizardByte-infrastructure/x265_git.git
	branch = stable
    shallow = true
[submodule "third-party/FFmpeg/nv-codec-headers"]
	path = third-party/FFmpeg/nv-codec-headers
	url = https://github.com/FFmpeg/nv-codec-headers.git
	branch = sdk/12.0
    shallow = true
[submodule "third-party/FFmpeg/FFmpeg"]
	path = third-party/FFmpeg/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
	branch = release/8.0
    shallow = true
[submodule "third-party/FFmpeg/SVT-AV1"]
	path = third-party/FFmpeg/SVT-AV1
	url = https://github.com/LizardByte-infrastructure/SVT-AV1.git
	branch = master
    shallow = true
[submodule "third-party/FFmpeg/Vulkan-Headers"]
	path = third-party/FFmpeg/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
	branch = main
    shallow = true
[submodule "third-party/FFmpeg/Vulkan-Loader"]
	path = third-party/FFmpeg/Vulkan-Loader
	url = https://github.com/KhronosGroup/Vulkan-Loader.git
	branch = main
    shallow = true
