[submodule "ffmpeg_sources/AMF"]
	path = ffmpeg_sources/AMF
	url = https://github.com/GPUOpen-LibrariesAndSDKs/AMF
	branch = master
[submodule "ffmpeg_sources/x264"]
	path = ffmpeg_sources/x264
	url = https://code.videolan.org/videolan/x264.git
	branch = stable
[submodule "ffmpeg_sources/x265_git"]
	path = ffmpeg_sources/x265_git
	url = https://bitbucket.org/multicoreware/x265_git.git
	branch = Release_3.5
[submodule "ffmpeg_sources/nv-codec-headers"]
	path = ffmpeg_sources/nv-codec-headers
	url = https://github.com/FFmpeg/nv-codec-headers
	branch = sdk/12.0
[submodule "ffmpeg_sources/ffmpeg"]
	path = ffmpeg_sources/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg
	branch = master
[submodule "ffmpeg_sources/SVT-AV1"]
	path = ffmpeg_sources/SVT-AV1
	url = https://gitlab.com/AOMediaCodec/SVT-AV1.git
	branch = v1.6.0
